<ion-header>
    <ion-navbar>
      <!-- <ion-title>
        Forget Password
      </ion-title> -->
    </ion-navbar>
  </ion-header>
  
  <ion-content padding class="page-forgot-password">
      <div class="auth-title">Forgot your <span>Password?</span></div>
    <form [formGroup]="forgetForm" #b="ngForm">
    <ion-list>
      <ion-item>
        <ion-label color="primary" floating>Email</ion-label>
        <ion-input (focus)="emailFocusIn()" (focusout)="onEmailFocusOut()" type="email" formControlName="email" [class.invalid]="!forgetForm.controls.email.valid && (forgetForm.controls.email.dirty || submitAttempt)" [(ngModel)]="user.loginEmail"></ion-input>
          
  </ion-item>
  <div class="input-error" *ngIf="isEmailError && forgetForm.controls.email.hasError('required')">
       <p>Email is <strong>required</strong></p>
  </div>
  <div class="input-error" *ngIf="isEmailError && forgetForm.controls.email.hasError('pattern')">
       <p>Please enter a valid email</p>
  </div>
  <div class="input-error" *ngIf="isEmailError && forgetForm.controls.email.hasError('maxlength')">
       <p>Invalid Email (maximum 100 characters are allowed)</p>
  </div>
  <div class="input-error" *ngIf="isEmailError && !isEmailAvailable">
      <p>Email is not <strong>available</strong></p> 
  </div>

    </ion-list>
    <button ion-button full color="primary" (click)="recoverPassword()" [disabled]="isSubmitStarted || !b.form.valid || !isEmailAvailable"> Recover Password</button>
    </form>    

       <div class="text-center switch-opt"><a (click)="onClickLogin()">Try again <span>Login</span></a></div>
    <!--<div>
      <a (click)="onClickLogin()">Dont have an account? Signup</a>
      </div>-->
  </ion-content>
  