<ion-header>
    <ion-navbar>
      <!-- <ion-title>
        Reset Password
      </ion-title> -->
    </ion-navbar>
  </ion-header>
  
  <ion-content padding class="reset-password">
        <div class="auth-title">Reset your <span>Password?</span></div>
      <p> To reset your password, follow the link sent to you on email or enter the given key below and new password.</p>
    <form [formGroup]="resetForm" #b="ngForm">
    <ion-list>

            <ion-item>
                <ion-label color="primary" floating>Enter your key</ion-label>
                <ion-input type="text" formControlName="key" [class.invalid]="!resetForm.controls.key.valid && (resetForm.controls.key.dirty || submitAttempt)" [(ngModel)]="key"></ion-input>          
            </ion-item>
            <div class="input-error" *ngIf="!resetForm.controls.key.valid  && (resetForm.controls.key.dirty || submitAttempt)" no-lines>
                <p>Key is required</p>
            </div>
            <ion-item>
              <ion-label color="primary" floating>Password</ion-label>
              <ion-input  (focus)="onPasswordFocusIn()" (focusout)="onPasswordFocusOut()"  validateEqual="confirmPassword" reverse="true" type="password" formControlName="password" [class.invalid]="!resetForm.controls.password.valid && (resetForm.controls.password.dirty || submitAttempt)" [(ngModel)]="user.password" ></ion-input>
            </ion-item>
            <div class="input-error" *ngIf="isPasswordError && resetForm.controls.password.hasError('required')">
                <p>Password is <strong>required</strong></p>
            </div>
            <!--<div class="input-error" *ngIf="isPasswordError && registrationFormSecond.controls.password.hasError('minlength')">
                <p>Invalid password (minimum 8 characters are allowed)</p>
            </div>-->

            <div class="input-error" *ngIf="isPasswordError && resetForm.controls.password.hasError('pattern')">
                <p>password must be 8 to 20 characters long with at least one character, one number and one special character</p>
            </div>

            <ion-item>
              <ion-label color="primary" floating>Confirm Password</ion-label>
              <ion-input  (focus)="onConfirmPasswordFocusIn()" (focusout)="onConfirmPasswordFocusOut()" validateEqual="password" type="password" formControlName="confirmPassword" [class.invalid]="!resetForm.controls.confirmPassword.valid && (resetForm.controls.confirmPassword.dirty || submitAttempt)" [(ngModel)]="user.confirmPassword" ></ion-input>
            </ion-item>

            <div class="input-error" *ngIf="isConfirmPasswordError && resetForm.controls.confirmPassword.hasError('required')">
                <p>Confirm Password is <strong>required</strong></p>
            </div>


          <div class="input-error" *ngIf="isEqualPasswordError"
            no-lines>
            <p>These passwords do not match.</p>
          </div>

    </ion-list>
    <button ion-button full color="primary" (click)="onClickReset()" [disabled]="isSubmitStarted || !b.form.valid || isEqualPasswordError"> Reset Password</button>
    </form>    

       <!--<p>Try again <a  (click) ="onClickLogin()">Login</a></p>-->
    <!--<div>
      <a (click)="onClickLogin()">Dont have an account? Signup</a>
      </div>-->
  </ion-content>
  